<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>LC101 User-Signin</title>
</head>
<body>
    <h1>Sign-In</h1>
    <form action='/login' method="POST">
        <p>
            <label>
            User ID: <input type="text" name="login_id" value="{{user_id}}"/>
            </label>
            {% if error %}
            <p id='error'>{{ error }}</p>
            {% endif %}
        </p>
        <p>
            <label>
            Password: <input type="password" name="password"/>
            </label>
            {% if pas_error %}
            <p id='error'>{{ pas_error }}</p>
            {% endif %}
        </p>
        <p>
            <label>
            Verify Password: <input type="password" name="verify"/>
            </label>
            {% if error_ver %}
            <p id='error'>{{ error_ver }}</p>
            {% endif %}
        </p>
        <p>
            <label>
            Email: <input type="text" name="email" value="{{email_id}}"/>
            </label>
            {% if email_error %}
            <p id='error'>{{ email_error }}</p>
            {% endif %}
        </p>
        <input type="submit" value="Login"/>
    </form>
    
</body>
</html>