<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LC101 User-Signin</title>
</head>
<body>
    <h1>Sign-In</h1>
    <form action="/welcome" method="POST">
        <p>
            <label>
            User ID: <input type="text" name="id" placeholder="User ID"/>
            </label>
        </p>
        <p>
            <label>
            Password: <input type="password" name="password"/>
            </label>
        </p>
        <p>
            <label>
            Verify Password: <input type="password" name="verify"/>
            </label>
        </p>
        <p>
            <label>
            Email: <input type="text" name="email"/>
            </label>
        </p>
        <input type="submit" value="Login"/>
    </form>
    
</body>
</html>